div#insertar{
    background-color: #63d36a;
    height: 70px;
}

div#exercicis{
    background-color: yellowgreen;
}
div#resultat{
    background-color: gold;
    height: 120px;
  
}

button{
    background-color: rgb(31 255 45);
}

p{
    position: relative;
    top: 0;
    left: 20px;
    font-size: 20px;
}
input{
    margin-top: 1px;
    margin-left: 45px;
}
