div#Insertar{
    background-color: #63d36a;}

div#divExercicis{
    background-color: yellowgreen;
}
div#divResultat{
    background-color: gold;
}

button{
    background-color: rgb(31 255 45);
}

p{
    position: relative;
    top: 15px;
    left: 20px;
    font-size: 20px;
}
