<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Vue  3  CDN -->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <h2>Afegeix un nou alumne</h2>
      <label for="">Nom: <input v-model="nomAlumne" type="text" name="" id="name" /> </label>
      <label for="">Edat:<input v-model="ageAlumne" type="number" name="" id="age" /></label>
      <button v-on:click="guardarDades">Guardar</button>
      <h2>Llista de clase</h2>
      <ol> 
        <!--Aqui van els alumnes-->
        <li v-for="element in llista" v-bind:key="element.id"> 
          <!--V-model per canviar el nom -->
          <input v-model="element.name"> té 
          <!--V-model per canviar l'edat -->
          <input v-model="element.age"> 
          anys Id: {{element.id}}
            <button v-on:click="borrarAlumne(element.id)">Borrar</button>
            <!--Visualitzar un alumne en concret-->
            <button v-on:click="visualitzarAlumne(element)">Visualitzar</button>
            
        </li>
      </ol>
      <h3 id="visualitzacio" style="display: none;">{{ fitxaAlumne.name }} te {{fitxaAlumne.age   }} anys </h3>
    </div>
  </body>
  <script>
    const app = {
      data() {
        return {
          nomAlumne: "Joan",
          ageAlumne: 0,
          llista: [
            {id:1, name:"Tomeu", age:5},
            {id:2, name:"Pep", age:15},
            {id:3, name:"Miquel", age:50}
          ],
          valorId:0,
          //Per visualitzar
          fitxaAlumne:{

          }
        };
      },
      methods: {
        //Guardar dades de l'alumne 
        guardarDades() {
            valorId =100;
            this.valorId++
          let alumn = { id: this.valorId, name: this.nomAlumne, age: this.ageAlumne };
            
          //fer un push a la llista
          this.llista.push(alumn)
        },
        borrarAlumne(identificador){
            //eliminar ALumne

            this.llista = this.llista.filter((element)=> element.id != identificador )
                
              
     },
     visualitzarAlumne(element){
       document.getElementById('visualitzacio').style.display = "block";
        this.fitxaAlumne=element
     }
        
      },
    };
    Vue.createApp(app).mount("#app");
  </script>
</html>
